@font-face {
    font-family: kingo;
    src: url(./Font/Kingo\ DEMO.ttf);
}

@font-face {
    font-family: EspressoDolce;
    src: url(./Font/EspressoDolce.ttf);
}

body {
    scroll-behavior: smooth;
    background-image: url(./Images/4k-ultra-hd-black-coffee-battery-.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;
    color: goldenrod;
}


.web-Name {
    font-family: kingo;
}

.Coffee-With {
    font-family: EspressoDolce;
}

.navbar {
    margin-bottom: 20px;
}

.card img {
    height: 200px;
    object-fit: cover;
}